<div class="main-content">
  <div class="content-item" *ngFor="let product of products">
    <div class="item-img-container">
      <a (click)="onProductClick(product)"
        ><img class="item-img" src="{{ product.url }}"
      /></a>
    </div>
    <div class="item-info-container">
      <div class="item-name-container">
        <a (click)="onProductClick(product)"> {{ product.title }}</a>
      </div>
      <div class="item-price-container">
        <a (click)="onProductClick(product)"> bbbb </a>
      </div>
    </div>
  </div>
</div>
