<div class="main-content">
  <div class="content-item" *ngFor="let product of products">
    <div class="item-img-container">
      <a (click)="onProductClick(product)"
        ><img class="item-img" src="{{ product.product_image }}"
      /></a>
    </div>
    <div class="item-info-container">
      <div class="item-name-container">
        <a (click)="onProductClick(product)" routerLinkActive="active">
          {{ product.product_name }}</a
        >
      </div>
      <div class="item-price-container">
        <a (click)="onProductClick(product)"> ${{ product.product_price }} </a>
      </div>
    </div>
  </div>
</div>
