<footer class="footer">
  <div class="footer-start">
    <p>Copyright All Rights Reserved</p>
    <p>
      <a href="**">Terms of Use</a> /
      <a href="**">Privacy Policy</a>
    </p>
  </div>
  <div class="footer-end">
    <a routerLink="**" routerLinkActive="active"
      ><img src="#" alt="facebook logo" height="20px"
    /></a>
    <a routerLink="**" routerLinkActive="active"
      ><img src="#" alt="twitter logo" height="20px"
    /></a>
    <a routerLink="**" routerLinkActive="active"
      ><img src="#" alt="instagram logo" height="20px"
    /></a>
    <a routerLink="**" routerLinkActive="active"
      ><img src="#" alt="linkedin logo" height="20px"
    /></a>
    <a routerLink="**" routerLinkActive="active"
      ><img src="#" alt="pinterest logo" height="20px"
    /></a>
    <a routerLink="**" routerLinkActive="active"
      ><img src="#" alt="google logo" height="20px"
    /></a>
  </div>
</footer>
