<footer class="footer">
  <div class="footer-start">
    <p>Copyright All Rights Reserved</p>
    <p>
      <a href="/404">Terms of Use</a> /
      <a href="/404">Privacy Policy</a>
    </p>
  </div>
  <div class="footer-end">
    <a href="#"><img src="#" alt="facebook logo" height="20px" /></a>
    <a href="#"><img src="#" alt="twitter logo" height="20px" /></a>
    <a href="#"><img src="#" alt="instagram logo" height="20px" /></a>
    <a href="#"><img src="#" alt="linkedin logo" height="20px" /></a>
    <a href="#"><img src="#" alt="pinterest logo" height="20px" /></a>
    <a href="#"><img src="#" alt="google logo" height="20px" /></a>
  </div>
</footer>
