<header class="header">
  <div>
    <a routerLink="/home-page" routerLinkActive="active">
      <img
        class="logo"
        src="assets\icons\music-logo.svg"
        alt="Website logo"
        height="150px"
      />
    </a>
  </div>
  <nav class="navbar">
    <a routerLink="/home-page" routerLinkActive="active">Home</a>
    <a routerLink="**" routerLinkActive="active">Categoria X</a>
    <a routerLink="**" routerLinkActive="active">Categoria Y</a>
    <a routerLink="**" routerLinkActive="active">Categoria Z</a>
    <a routerLink="/cart-page" routerLinkActive="active">Carrinho</a>
    <a routerLink="/login-page" routerLinkActive="active">Login</a>
  </nav>
</header>
