<div class="cart-main-content">
  <div class="cart-items-card">
    <h2>Carrinho de Compras</h2>
    <div class="cart-item-list-container" *ngFor="let product of products">
      <div class="cart-img-container">
        <img src="{{ product.url }}" />
      </div>
      <div class="item-name-price-container">
        <p>{{ product.title }}</p>
        <p id="cart-price">555 €</p>
      </div>
      <div class="cart-qty-selector-container">
        <input
          class="cart-qty-selector"
          type="number"
          [(ngModel)]="product.quantity"
          (ngModelChange)="onQuantityChange(product, product.quantity!)"
          min="1"
        />
      </div>
      <div class="cart-total-price-container">
        <h3>500,00 €</h3>
      </div>
      <div class="delete-btn-container">
        <a href="**"
          ><img src="assets/icons/delete_icon.svg" height="35px"
        /></a>
      </div>
    </div>
  </div>
  <div class="cart-price-details-card">
    <div class="price-card-first-row">
      <div class="first-row-item">
        <p>1 item</p>
        <p>Envio</p>
      </div>
      <div class="first-row-price">
        <p>500,00 €</p>
        <p>Grátis</p>
      </div>
    </div>
    <div class="price-card-second-row">
      <div class="second-row-item">
        <p>Total (com IVA)</p>
        <p>Impostos incluídos</p>
      </div>
      <div class="second-row-price">
        <p>500,00 €</p>
        <p>89,65 €</p>
      </div>
    </div>
    <div class="price-card-third-row">
      <a routerLink="**" routerLinkActive="active"
        >Tem algum código promocional?</a
      >
    </div>
    <div class="price-card-btn-container">
      <a routerLink="/complete-purchase" routerLinkActive="active"
        ><input class="btn-finalizar" type="button" value="Finalizar"
      /></a>
    </div>
  </div>
</div>
