<div class="container">
  <div class="register-card">
    <h2>Seus Dados</h2>
    <form>
      <div class="form-group">
        <label id="title">Nome</label>
        <label>UserName</label>
      </div>
      <div class="form-group">
        <label id="title">Apelido</label>
        <label>UserLastName</label>
      </div>
      <div class="form-group">
        <label id="title">Email</label>
        <label>UserEmail</label>
      </div>
      <div class="form-group">
        <label id="title">Morada</label>
        <label>UserAddress</label>
      </div>
      <div class="form-group">
        <label id="title">Distrito</label>
        <label>UserDistrict</label>
      </div>

      <div class="form-footer">
        <p>Voltar a <a href="#"> Home</a></p>
        <!--Campo caso o usuário já tenha conta-->
      </div>
    </form>
  </div>
</div>
