<div class="register-container">
    <h2>Cadastro de Usuário</h2>
  
    <form (ngSubmit)="onRegister()">
      <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" [(ngModel)]="user.nome" name="nome" required>
      </div>
  
      <div>
        <label for="apelido">Apelido:</label>
        <input type="text" id="apelido" [(ngModel)]="user.apelido" name="apelido" required>
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
      </div>
  
      <div>
        <label for="password">Senha:</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
      </div>
  
      <div>
        <label for="morada">Morada:</label>
        <input type="text" id="morada" [(ngModel)]="user.morada" name="morada" required>
      </div>
  
      <div>
        <label for="distrito">Distrito:</label>
        <input type="text" id="distrito" [(ngModel)]="user.distrito" name="distrito" required>
      </div>
  
      <button type="submit">Registrar</button>
    </form>
  </div>
  